{% block wucdbm_filter_date_range_widget -%}
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="row">
            <div class="input-group filter-date-range">
                {{ form_widget(form.placeholder, {attr: {class: 'placeholder' }}) }}
                <span class="input-group-btn">
                        <button class="btn default date-range-toggle" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn default date-range-clear" type="button"><i class="fa fa-times"></i></button>
                    </span>
                {{ form_widget(form[form.vars.min_field_name]) }}
                {{ form_widget(form[form.vars.max_field_name]) }}
            </div>
        </div>
    </div>
{%- endblock wucdbm_filter_date_range_widget %}

{% block wucdbm_filter_placeholder_widget -%}
    {{ block('form_widget_simple') }}
{%- endblock wucdbm_filter_placeholder_widget %}